.event-inner {
	margin: 0 auto;
	max-width: $content-max-width;
	color: $white;
  padding: 3em;
}

@mixin event-heading {
	text-align:center;
	font-size: 2em;
	padding: 0.5em 0 0.5em 0;
}

.event-heading__title {
	text-align:center;
	font-size: 2em;
	font-weight: bold;
	padding: 0.5em 0 0.5em 0;
}

.event-heading__label {
	text-align:center;
	font-size: 1em;
	font-weight: bold;
}

.event-description {
	font-size: 1.3em;
	line-height: 130%;
}

.event-details {
	@include inline-list;
	font-size: 1em;
}

.event-details__location {
	font-size: 1.3em;
	line-height: 130%;
}

.event-details__description {
	@include inline-list__item--right;
	font-size: 1.3em;
	line-height: 130%;
}

.event-full-desc {
	padding: 0.5em;
}

.event-media {
	@include fluid-media-wrapper;
}

.event-image {
  @include fluid-media-wrapper;
}

.event-image__media {
  @include fluid-media-wrapper__media;
  overflow: hidden;

  img {
    max-width: 100%;
    width: 940;
    height: 530;
    display: block;
    margin-top: -5%;
  }
}