.event-content {
	background-color: $dark-grey;	
	color: $white;
	display: block;
	padding: 5%;
}

@mixin event-heading {
	text-align:center;
	font-size: 2em;
	padding: 0.5em 0 0.5em 0;
}

.event-heading {
	@include event-heading;	
}

.event-heading__number {
	@include event-heading;
	font-size: 1em;
}

.event-full-desc {
	padding: 0 0 0 5%;
}

.event-media {
	text-align:center;
}

.event-image {
  @include fluid-media-wrapper;
}

.event-image__media {
  @include fluid-media-wrapper__media;
  overflow: hidden;

  img {
    max-width: 100%;
    display: block;
    margin-top: -5%;
  }
}