.site-footer {
  background-color: $white;
  color: $grey;
  font-size: 1em;
  padding: 1em;
  text-align: center;
  height: 50%;
  white-space: nowrap;
}

.site-footer___links {
  text-align:right;

  & .inline-list__item {
    margin-left:1em;
  }

  & a {
    color:$yellow;
    text-decoration:none;
  }
}

.site-footer-logo {
  width: 25%;
  display: inline-block;
  vertical-align: middle;
}

@media screen and (max-width: 500px) {
  .site-footer {
    text-align:center;
    & .site-footer___links {
      text-align:center;
    }

    & .inline-list__item {
      margin: 0 1em;
    }
  }
}
