.site-footer {
  background-color: $white;
  color: $mid-grey;
  font-size: 1.2em;
  padding: 1em;
  text-align: center;
  height: 50%;
}

.site-footer___links {
  line-height: 50px;
  margin-left: 20px;

  & .inline-list__item {
    margin-left:1em;
  }

  & a {
    color:$yellow;
    margin-left: 10px;
    text-decoration:none;
  }
}

.site-footer__logo {
  padding: 1em;
  margin-top: 10px;

  img {
    width: 180px;
  }  
}

@media screen and (max-width: 500px) {
  .site-footer {
    text-align:center;
    & .site-footer___links {
      text-align:center;
    }

    & .inline-list__item {
      margin: 0 1em;
    }
  }
}
