.header {
  position: relative;
  width: 100%;
}

.header-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.header__media-video {
  position: absolute;
  left: 50%;
  top: 50%;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;
  visibility: visible;

  @include media-query("(max-width: 660px)") {
    visibility: hidden;  
  } 
}

.header__media-background {
  position: absolute;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  visibility: hidden;
  
  @include media-query("(max-width: 660px)") {
    visibility: visible;  
  } 
}

.header__logo{
  width: 80%;
  max-width: 25em;
  margin: 3em auto 0.625em auto;
  display: block;
}

.header__overlay {
  background-color: $overlay-header;
  color: #fff;
  text-align: center;
  overflow: hidden;
}

.header__text {
  font-size: 1.5em;
  font-weight: bold;
  max-width: 80%;
  display: inline-block;

  @include media-query($tablet-min-width) {
    font-size: 2.75em;
  }

  &:after {
    width: 80px;
    height: 2px;
    background-color: #fff;
    content: "";
    display: block;
    margin: 1em auto;

  }
}

.header__subscription-text {
  max-width: 60%;
  display: inline-block;
}

.header__input {
  padding: 0em 0em 3em 0em;
  text-align: center;
  display: flex;
  justify-content: center;
}

div.horizontal {
  display: flex;
  justify-content: center;
}

div.vertical {
  display: flex;
  flex-direction: column;  justify-content: center;
}

@media screen and (max-width: 300px) {
  .header__media {
    margin: 2em 0;
  }
}
