// Basic colours
$blue: rgb(152, 211, 189);
$white: #EFEFEF;
$grey: rgb(54, 56, 66);
$yellow: rgb(255, 210, 86);
$black: #000000;
$brown: rgb(112, 97, 59);
$dark-grey: rgb(52, 52, 62);

// Page properties
$spacing-height: 15px;
$max-site-width: 100em;
