// Basic colours
$blue: rgb(152, 211, 189);
$white: #FFF;
$grey: #D6D6D8;
$mid-grey: #818181;
$yellow: rgb(255, 210, 86);
$black: #000000;
$brown: rgb(112, 97, 59);
$dark-grey: rgb(52, 52, 62);
$overlay-header: rgba(0, 0, 0, .5);
$highlight-color: $yellow;

// Page properties
$portrait-min-width: "(min-width: 20em)";
$tablet-min-width: "(min-width: 40em)";
$desktop-min-width: "(min-width: 50em)";
$content-max-width: 960px;
