---
title: tEchDU Events
module: root
action: events
---

<h1><%= current_page.data.title %></h1>

<section class="events">
  <% t("events").map do |key, value| %>
    <article class="event">
      <header class="event-header">
        <h3><%= value[:title] %></h3>
      </header>
      <section class="event-content">
        <dl>
          <% value.map.each do |k,v| %>
            <dt><%= k.capitalize %>:</dt>
            <dd><%= v %></dd>
          <% end %>
        </dl>
      </section>
    </article>
  <% end %>
</section>
