<div class="about">
	<div class="site-width main-content main-content--current-event">
	  <h2 class="main-heading">About us</h2>
	  <p class="main-desc">Technology is not great because it’s new. It is great because it unlocks opportunities otherwise impossible. 
	  <p class="main-desc">Our mission is to help bring impactful and transformative technology into education.
	  <p class="main-desc">We learn what matters to students and teachers most and collaborate with people who create edtech to help them focus on the right thing. We live and breathe technology. We also love meaningful stuff.</p>
	</div>
</div>
